/* Fondo de la página */
body {
    background-color: #121212; /* Fondo oscuro general */
    color: #e0e0e0; /* Texto en color claro */
    font-family: Arial, sans-serif; /* Fuente general */
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.store-container {
    width: 80%;
    margin: 20px auto #ddd; /* Margen automático horizontal y margen superior/inferior de 20px */
    padding: 20px;
    background-color: #1e1e1e; /* Fondo oscuro para el contenedor de productos */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el contenedor */
}

/* Título de la sección */
h1 {
    text-align: center;
    margin-bottom: 20px; /* Margen inferior de 20px para separar del contenido siguiente */
    color: #f5f5f5; /* Color blanco grisáceo para el título */
}

/* Grid de productos */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* Espacio entre las tarjetas de productos */
}

/* Estilo para las tarjetas de productos */
.product-card {
    border: 1px solid #333; /* Borde oscuro para las tarjetas */
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #2c2c2c; /* Fondo oscuro para las tarjetas de productos */
    transition: box-shadow 0.3s ease;
    color: #e0e0e0; /* Color claro para el texto dentro de las tarjetas */
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al pasar el ratón */
}

/* Imagen de los productos */
.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Botón para agregar productos */
.add-product-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a5a7; /* Color verde brillante */
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.add-product-btn:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
}