/* Fondo del contenedor principal */
.container {
    background-color: #333; /* Color de fondo oscuro para el contenedor */
    color: #ffffff; /* Texto blanco para contraste */
    padding: 20px;
    border-radius: 10px;
    margin: 0; /* Quita los márgenes para que se ajuste a los límites */
    max-width: calc(100% - 250px); /* Ancho máximo menos el ancho del sidebar */
    position: absolute; /* Posiciona el contenedor relativo a la ventana */
    top: 60px; /* Ajusta la posición para que comience justo debajo del header */
    bottom: 60px; /* Ajusta la posición para que termine justo encima del footer */
    left: 250px; /* Ajusta la posición para que comience justo al lado del sidebar */
    right: 0; /* Asegura que se ajuste al borde derecho */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
    overflow-y: auto; /* Permite scroll si el contenido es demasiado alto */
}

/* Estilo para el formulario */
form {
    margin-bottom: 20px;
}
/* Línea de separación */
.separator {
    border-bottom: 1px solid #555; /* Línea de separación de color oscuro */
    margin: 20px 0; /* Espaciado arriba y abajo de la línea */
}

/* Estilo para las etiquetas del formulario */
label {
    display: block;
    margin: 10px 0 5px;
}

h1, h2{
    font-family: 'Mano Imprenta', Brush Script MT; /* Aplica la fuente Mano Imprenta */
    color: #0096a4; /* Texto blanco para contraste */
}

/* Estilo para los campos de entrada */
input[type="text"], input[type="tel"], input[type="email"] {
    width: 100%;
    min-width: 250px; /* Asegura un ancho mínimo */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #666; /* Color de borde ligeramente más claro */
    border-radius: 4px;
    background-color: #444; /* Fondo oscuro para inputs */
    color: #fff; /* Texto blanco dentro del input */
}

/* Estilo para el botón de enviar */
button {
    background-color: #368cb3; /* Color verde para el botón */
    color: #fff;
    padding: 10px 20px;
    font-size: 16px; /* Tamaño de fuente aumentado */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para el botón de enviar al pasar el ratón */
button:hover {
    background-color: #2f6663;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilo para las celdas y filas de la tabla */
table, th, td {
    border: 1px solid #555; /* Borde oscuro para la tabla */
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Estilo para los encabezados de la tabla */
th {
    background-color: #444; /* Fondo oscuro para los encabezados */
}

/* Estilo para las filas de la tabla */
td {
    background-color: #383838; /* Fondo ligeramente más oscuro para las celdas */
}

/* Estilo para el botón de mostrar/ocultar formulario */
.add-branch-btn {
    background-color: #007bff; /* Color azul para el botón */
    color: #fff;
    font-size: 16px; /* Tamaño de fuente aumentado */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilo para el botón de mostrar/ocultar formulario al pasar el ratón */
.add-branch-btn:hover {
    background-color: #0056b3;
}