/* Estilo general del contenedor de la barra lateral */
.sidebar {
  width: 250px; /* Ajusta el ancho según sea necesario */
  background-color: #2a2a2a; /* Color oscuro para el fondo de la barra lateral */
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 90vh; /* Altura completa de la ventana */
}

/* Estilo de los botones de menú */
.menu-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3e9acc; /* Color de fondo para los botones */
  color: white;
  text-align: center;
  border-radius: 40px; /* Bordes redondeados */
  text-decoration: none; /* Quitar subrayado */
  font-family: cursive;
  margin-bottom: 10px; /* Espacio entre los botones */
  font-weight: bold; /* Hacer el texto negrita */
  transition: background-color 0.3s ease; /* Transición para el cambio de color */
}

.menu-button:hover {
  background-color: #357ab9; /* Color de fondo en hover */
}

/* Estilo del botón de logout */
.logout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #555; /* Color oscuro para el fondo */
  color: white;
  text-align: center;
  border-radius: 40px; /* Bordes redondeados */
  text-decoration: none; /* Quitar subrayado */
  font-family: cursive;
  font-weight: bold; /* Hacer el texto negrita */
  margin-top: auto; /* Mover el botón de logout al final */
}

.logout-button:hover {
  background-color: #333; /* Color de fondo en hover */
}
.menu-logout{
  margin-top: auto;
}

/* Estilo para la clase activa */
.active {
  background-color: #357ab9; /* Color para el estado activo */
}