<div class="main-container">
    <div class="sidebar">
      <div class="menu-buttons">
        <button class="menu-button" (click)="Inicio()">Inicio</button>
        <button class="menu-button" (click)="Inventario()">Inventario</button>
        <button class="menu-button" (click)="Personal()">Personal</button>
        <button class="menu-button" (click)="Proximo()">-----</button>
      </div>
      <button class="logout-button" (click)="onLogout()">Logout</button>
    </div>
    <div class="content">
    </div>
  </div>