<div class="sidebar">
  <button class="menu-toggle">☰</button>
  <div class="menu-buttons">
    <a class="menu-button" routerLink="content1" routerLinkActive="active">Inicio</a>
    <a class="menu-button" routerLink="content2" routerLinkActive="active">Inventario</a>
    <a class="menu-button" routerLink="content3" routerLinkActive="active">Personal</a>
    <a class="menu-button" routerLink="content4" routerLinkActive="active">-----</a>
    <div class="menu-logout">
      <a class="logout-button" routerLink="/login" routerlinkActive="active">Logout</a>
    </div>
  </div>
</div>
